@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 300;
  src: url(/NanumSquareRoundL.woff);
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 400;
  src: url(/NanumSquareRoundR.woff);
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 700;
  src: url(/NanumSquareRoundB.woff);
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight: 800;
  src: url(/NanumSquareRoundEB.woff);
}

@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url(/UhBeeSe_hyun.woff);
}
