@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'NanumSquareRound';
  /* font-family: 'UhBeeSe_hyun'; */
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h2,
h4 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

p {
  padding: unset;
  margin: unset;
}

body {
  margin: 0;
  padding-bottom: 100px;
  padding-top: 60px;
}
